FADR_API_TOKEN=
REAPER_HOST=127.0.0.1
REAPER_PORT=8080
X32_HOST=192.168.1.x
X32_PORT=10023
STEMS_DIR=D:\ShenanigansStudio\stems
MIDI_DIR=D:\ShenanigansStudio\midi
REAPER_PROJECTS_DIR=D:\ShenanigansStudio\reaper-projects
VST3_PRESETS_DIR=E:\VST3 Presets
AVID_DOWNLOADS_DIR=E:\AvidDownloads\Downloads